.categorias-produto{
  margin: 40px 0;
}
.categorias-produto > ul{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 15px;
}
.categorias-produto > ul li{
  width: 306px;
  height: 195px;
  position: relative;
  cursor: pointer;
}
.categorias-produto > ul li a > div{
  background: rgba(43,43,43,71%);
  filter: brightness(0.6) opacity(1);
  height: 100%;
}
.categorias-produto > ul li img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.categorias-produto > ul li h3{
  color: white;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 26px;
  font-family: 'Segoe UI', "Roboto";
}

