.slide-intro{
  margin: 17px 0;
}
.slide-intro-div{
  display: flex;
  align-items: center;
  gap: 17px;
}
.slide-img-overflow{
  overflow: hidden;
  max-width: 1100px;
}
.slide-img-overflow > div{
  display: flex;
  transition: transform .5s ease;
}
.button-prev-slide,.button-next-slide{
  width: 33px;
  height: 33px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.button-prev-slide > div, .button-next-slide > div{
  width: 33px;
  height: 33px;
  border: 1px solid rgb(30,37,40);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
}
.button-intro-responsive{
  display: none;
  justify-content: space-between;
  margin: 20px 0;
}
/*
.button-intro-responsive .button-prev-slide{
  margin-left: 8px;
}
*/
@media (max-width: 768px){
  .button-intro-responsive{
    display: flex;
  }
  .slide-intro-div .button-prev-slide, .slide-intro-div .button-next-slide{
    display: none;
  }
}
@media (max-width: 510px){
  .slide-img-overflow{
    margin: 0 20px;
  }
  .button-intro-responsive{
    margin: 20px 20px;
  }
}