.slide-imgs{
  display: grid;
  flex-shrink: 0;
  width: 100%;
  grid-template:
		"foto1 foto1 foto2 foto3" 239px
		"foto1 foto1 foto4 foto4" 237px
    / 1fr 1fr 1fr 1fr;
  gap: 14px;
}
.slide-imgs li:nth-child(1){grid-area: foto1;}
.slide-imgs li:nth-child(2){grid-area: foto2;}
.slide-imgs li:nth-child(3){grid-area: foto3;}
.slide-imgs li:nth-child(4){grid-area: foto4;}
.slide-imgs li{
  cursor: pointer;
}
.slide-imgs li img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media (max-width: 768px){
  .slide-imgs{
    grid-template:
		"foto1 foto1 foto2 foto3" 150px
		"foto1 foto1 foto4 foto4" 150px
    / 1fr 1fr 1fr 1fr;
    gap: 12px;
  }
}
@media (max-width: 510px){
  .slide-imgs{
    grid-template:
      "foto1 foto1" 150px
      "foto1 foto1" 150px
      "foto2 foto3 " 200px
      "foto4 foto4 " 200px
      / 1fr 1fr;
    gap: 10px;
  }
}
@media (max-width: 380px){
  .slide-imgs{
    grid-template:
      "foto1 foto1" 100px
      "foto1 foto1" 100px
      "foto2 foto3 " 130px
      "foto4 foto4 " 120px
      / 1fr 1fr;
    gap: 8px;
  }
}