.sectionPromocao{
  background: rgb(235,235,235);
  padding: 35px 0;
}
.divPromocao{
  display: flex;
  justify-content: space-between;
}
.divPromocao .ul-slideList{
  width: 956px;
}
.titlePromocao{
  display: flex;
  align-items: center;
}
.titlePromocao h2{
  font-family: "Poppins","Roboto";
  font-size: 29px;
  font-weight: 400;
  width: 195px;
}